@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Masquer les scrollbars sur tous les navigateurs */
body, * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE et Edge */
}

/* Chrome, Safari et Opera */
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
}

/* Appliquer IBM Plex Mono à tous les éléments de texte et de formulaire */
body, input, button, textarea, select {
  font-family: 'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, monospace !important;
}